/* Start Globale Variables  */
:root {
    --Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Blue: hsl(224, 93%, 58%);
    --Cyan: hsl(170, 45%, 43%);
    --Grayish-Blue: hsl(240, 75%, 98%);
    --Gray: hsl(0, 0%, 75%);
}

/* End Globale Variables  */

/* Start Globale Rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    color: var(--Dark-Blue);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screen  */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globale Rules  */
/* Start Header  */
header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

header .container nav ul {
    display: flex;
}

header .container nav ul li {
    margin-left: 2rem;
}

header .container nav ul li a {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: block;
    color: var(--Dark-Blue);
}

/* End Header  */
/* Start Landing  */
.landing {
    margin-bottom: 8rem;
}

.landing .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.landing .container>div {
    flex: 1;
}

.landing .container .info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--Dark-Blue);
}

.landing .container .info p {
    color: var(--Dark-Blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.landing .container .info form {
    display: flex;
}

.landing .container .info form input {
    border: 1px solid var(--Dark-Blue);
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    padding: 0.8rem 1rem;
    outline: none;
    flex: 0.7;
}

.landing .container .info form button {
    margin-left: 0.5rem;
    color: var(--Grayish-Blue);
    background-color: var(--Blue);
    font-family: 'Raleway', sans-serif;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0.8rem 4rem;
    flex: 0.2;
}

.landing .container .info form input:invalid {
    border-color: red;
}

.landing .container .info form input::placeholder {
    color: var(--Gray);
    font-weight: normal;
}

.landing .container .info form button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.landing .container .image {
    margin-left: 3rem;
}

/* End Landing  */
/* Start Service  */
.service {
    margin-bottom: 6rem;
    position: relative;
    background-color: var(--Grayish-Blue);
}

.service::before {
    content: '';
    position: absolute;
    top: -6rem;
    left: 0;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 6rem;
}

.service .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.service .container>div {
    flex: 1;
}

.service .container .info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--Dark-Blue);
}

.service .container .info p {
    color: var(--Dark-Blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.service .container .info .link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Cyan);
    padding-bottom: 0.3rem;
    width: fit-content;
}

.service .container .info .link a {
    text-decoration: none;
    color: var(--Cyan);
}

.service .container .info .link img {
    width: 16px;
    height: 16px;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}

.service .container .info .quote {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem 2rem;
    width: 310px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.2rem;
}

/* .service .container .info .quote img {} */
.service .container .info .quote p {
    font-size: 0.7rem;
    line-height: 1.8;
}

.service .container .info .quote .user-info {
    display: flex;
    align-items: center;
}

.service .container .info .quote .user-info img {
    width: 25px;
    border-radius: 50%;
}

.service .container .info .quote .user-info .personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.8rem;
}

.service .container .info .quote .user-info .personal-info h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
}

.service .container .info .quote .user-info .personal-info small {
    font-size: 0.6rem;
}

.service .container .image {
    margin-left: 3rem;
}

/* End Service  */

/* Start form */

.form {
    background-color: var(--Desaturated-Blue);
    padding: 5rem 1rem;
    color: var(--Grayish-Blue);
}

.form .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12rem;
}

.form .container>div {
    flex: 1;
}

.form .container .info h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.form .container .info p {
    word-wrap: break-word;
    font-size: 0.95rem;
}

.form .container .sign-up form {
    display: flex;
    flex-direction: column;
}

.form .container .sign-up input {
    outline: none;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    border: 1px solid var(--Gray);
    border-radius: 2px;
    padding: 0.7rem 1rem;
    max-width: 25rem;
}

.form .container .sign-up input:invalid {
    border-color: red;
}

.form .container .sign-up input::placeholder {
    color: var(--Gray);
}

.form .container .sign-up button {
    color: var(--Grayish-Blue);
    font-family: 'Raleway', sans-serif;
    background-color: var(--Blue);
    border: none;
    padding: 0.8rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 15rem;
}

.form .container .sign-up button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* End form */
/* Start Footer  */
footer {
    background-color: var(--Dark-Blue);
    color: var(--Grayish-Blue);
    padding: 3rem;
}

footer .container {
    display: flex;
    flex-direction: column;
}

footer .image img {
    color: var(--Grayish-Blue);
}

footer .about {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

footer .about .contact .phone,
footer .about .contact .email {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

footer .about .contact .phone img,
footer .about .contact .email img {
    padding-right: 0.5rem;
    width: 18px;
    height: 18px;
    transform: rotateX(45deg);
}

footer .about .contact p {
    font-size: 0.75rem;
    margin-left: 0.4rem;
}

footer .about .nav-1 ul li,
footer .about .nav-2 ul li {
    padding-bottom: 1rem;
}

footer .about .nav-1 ul li a,
footer .about .nav-2 ul li a {
    text-decoration: none;
    color: var(--Gray);
}

footer .about .nav-1 ul li a:hover,
footer .about .nav-2 ul li a:hover {
    cursor: pointer;
    color: var(--Blue);
}

footer .about .icons {
    display: flex;
    align-items: flex-start;
}

footer .about .icons i {
    margin-right: 1rem;
    border: 1px solid var(--Gray);
    border-radius: 50%;
    padding: 0.45rem;
}

footer .about .icons i:hover {
    color: var(--Blue);
    cursor: pointer;
    border-color: var(--Blue);
}

/* End Footer  */
/* Responsive  */
@media (max-width: 768px) {
    header .container .logo img {
        width: 100px;
    }

    header .container nav ul li {
        margin-left: 1rem;
    }

    .landing .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .landing .container .info {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .landing .container form {
        flex-direction: column;
    }

    .landing .container form button {
        margin: 1rem 0rem !important;
    }

    .service {
        margin-top: 3rem;
    }

    .service::before {
        background-image: url(../images/bg-curve-mobile.svg);
        background-position: center center;
    }

    .service .container {
        flex-direction: column-reverse;
    }

    .service .container .info h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .service .container .info p {
        color: var(--Gray);
    }

    .service .container .info .link {
        margin: 0 auto;
    }

    .service .container .info .quote {
        margin: 2rem auto 0;
    }

    .service .container .info .quote p {
        color: var(--Desaturated-Blue);
    }

    .service .container .image {
        margin-bottom: 3rem;
        margin-left: 0;
    }

    .form .container {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        align-items: unset;
    }

    .form .container .sign-up input,
    .form .container .sign-up button {
        width: 100%;
    }


    footer .container .about {
        flex-direction: column;
    }

    footer .container .about .contact {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }

    footer .container .about .nav-1,
    footer .container .about .nav-2 {
        margin-bottom: 1.5rem;
    }

    footer .container .about .icons {
        margin: 0 auto;
    }
}